body { 
background-color: black; 
}

.PlanetTitle { 
  /* Sets text ontop of img.  */
  position: absolute; 
  color: white; 
  display: flex; 
  top: 50px; 
  justify-content:center; 
  align-items:center;
  font-family: Arial, Helvetica, sans-serif;

} 


/* This lets us draw on the page*/ 
canvas {
        border: 1px solid #000;
        background-color: #000;
}
/* This allows us to hold the canvas and center it. */
.container { 
      display: flex; 
      justify-content:center; 
      align-items:center; 
      }