body { 
background-color: black; 
}

.PlanetTitle { 
  /* Sets text ontop of img.  */
  position: absolute; 
  color: white; 
  display: flex; 
  top: 50px; 
  justify-content:center; 
  align-items:center;
  font-family: Arial, Helvetica, sans-serif;

} 


/* This lets us draw on the page*/ 
canvas {
        border: 1px solid #000;
        background-color: #000;
}
/* This allows us to hold the canvas and center it. */
.container { 
    width: 600px;
    height: 400px;
    position: relative;
    background-color: black;
    overflow: hidden;
    display: flex; 
    justify-content:center; 
    align-items:center; 
    }

  #animate {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: blue;
   
    z-index: 0;
  }
  .trail {
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    background-color: #ff0000;
    pointer-events: none;
    z-index: 1;
    transition: all 0.6s ease-out;
  }